body {
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1800px;   
  align-content: center;

}
.card {
  margin: 10px;

}
.image {
  width: 300px;
}
.btnsFilter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  border: 0;
  margin-right: 10px;
  height: 30px;
  border: 2px solid rgb(62, 62, 62);

}
.btn selected {
  background-color: rgb(62, 62, 62);
  color: aliceblue;

}